<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" th:href="@{/css/checkout.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<div class="checkout-container">
    <h2>Invoice Checkout</h2>
    <div class="invoice-details">
        <h3>Invoice Number: <span th:text="${invoice.id}"></span></h3>
        <p><strong>User Name:</strong> <span th:text="${invoice.appointment.name}"></span></p>
        <p><strong>Services:</strong></p>
        <ul>
            <li th:each="service : ${invoice.appointment.serviceTypes}" th:text="${service}"></li>
        </ul>
        <p><strong>Total Amount:</strong> <span th:text="${invoice.totalAmount}"></span></p>
        <p><strong>Invoice Date:</strong> <span th:text="${invoice.dateCreated}"></span></p>
    </div>

    <form action="#" th:action="@{/pay/checkout/{invoiceId}(invoiceId=${invoice.id})}" th:object="${invoice}" method="post">
        <div>
            <label for="cardNumber">Card Number:</label>
            <input type="text" id="cardNumber" name="cardNumber" required />
        </div>
        <div>
            <label for="expiryDate">Expiry Date:</label>
            <input type="text" id="expiryDate" name="expiryDate" required />
        </div>
        <div>
            <label for="cvv">CVV:</label>
            <input type="text" id="cvv" name="cvv" required />
        </div>
        <button type="submit">Pay Now</button>
    </form>
</div>
<!--    <div id="result"></div>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</body>
</html>